
.vBox {
    -fx-background-color: white;
}

.textField {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-pref-height: 40px;
    -fx-font-size: 15px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.textField:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0.3, 0, 2);
}

.radioBox {
    -fx-font-size: 15px;
    
}

#radioBox .box {
     -fx-background-radius: 0; /* remove circular border */
    -fx-shape: null;          /* remove the circle shape */
    -fx-border-radius: 0;
    -fx-padding: 4;
    -fx-border-color: #666;
    -fx-background-color: white;
}


#createAccountButton {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #ff6b6b;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

#createAccountButton:hover {
    -fx-background-color: #e5383b;

}

#loginPageButton {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

#loginPageButton:hover {
    -fx-text-fill: blue;
}


