
#borderPane {
    -fx-background-color: white;
}

#loginSystem {
     -fx-text-fill: #dd2d4a;
}

#anchorPane {
    -fx-background-color: #F8F9FA;
    
}

.sideBarIcons {
    -fx-font-size: 20px;
    -fx-text-fill: #7d8597;
}

.icons {
    -fx-fill: #7d8597;
    -fx-padding: 10 0 0 0;
   
}

.sideBarIcons:hover {
    -fx-text-fill: #e5383b;
    
}

.icons:hover {
    -fx-fill: #7d8597;
}

#signOutButton {
    -fx-text-fill: #e5383b;
}

#signOutIcon {
    -fx-fill: #e5383b;
}

#deleteAccountBtn {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: #7d8597;
}
#welcomeToDashboard {
    -fx-text-fill: #7d8597; 
}

.cards {

    -fx-background-color: #f9f9f9;
    -fx-background-radius: 5px;   
    -fx-padding: 5 10 5 10;   
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.1, 0, 4);
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.cards:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.15, 0, 6);
    -fx-cursor: hand;
}

#idCard {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 0%, 
        rgba(255, 51, 51, 1) 0%, 
        rgba(255, 179, 179, 1) 100%
    );
}

#nameCard {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 0%, 
        rgba(255, 179, 153, 1) 0%, 
        rgba(255, 230, 153, 1) 100%
        );
}

#emailCard {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 0%, 
        #99AAD3 0%,
        #16387D 100%
    );
}

#genderCard {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 0%, 
        #13496D 0%,
        #8FC7C1 100%
    );
}

#passwordCard {
       -fx-background-color: linear-gradient(
        from 0% 0% to 100% 0%, 
        #FFA2A2 0%, 
        #FFC7B8 100%
    );

}
