
.mainFrame {
   -fx-background-color: white;
}

#vBox {
   /*-fx-border-width: 1px;*/
   /*-fx-border-color: black;*/
   /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.3, 5, 5);*/

}

.textFiled {
    -fx-font-size: 16px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-pref-height: 40px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*Login Button*/
#loginButton {
    -fx-pref-height: 40px;
    -fx-background-color: #ff6b6b;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    /*-fx-font-weight: bold;*/
    
}


/*Create & Forgot Buttons*/
.create_forgotButtons {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
}


.textFiled:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0.3, 0, 2);
}

#loginButton:hover {
    -fx-background-color: #e5383b;
}

.create_forgotButtons:hover {
    -fx-text-fill: blue;
}
